@page "/skills"
@page "/"
@using employee.skill.fe.Models.DTOs.Skills
@inherits SkillsViewModel

<div class="videos">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">Skills</h3>
                <div class="card-body">
                    <div class="row">
                         <div class="form-group"> 
                             <TelerikButton Enabled="@SaveBtnEnabled" Primary="true" Icon="add" 
                                 OnClick="@OnAddSkillClickHandler">Add</TelerikButton> 
                             <TelerikButton Icon="edit" OnClick="@OnEditSkillClickHandler">Edit</TelerikButton> 
                             <TelerikButton Icon="delete" Class="dangerButton" OnClick="@OnDeleteSkillClickHandler">Delete</TelerikButton> 
                         </div> 
                    </div>
                    <div class="row">
                        <TelerikGrid Data="@SkillState.Value.SkillList" 
                                     Pageable="true" PageSize="10" Height="600px"
                                     Sortable="true" SelectionMode="GridSelectionMode.Single"
                            SelectedItemsChanged="@((IEnumerable<SkillDto> skillList) => OnSelect(skillList))"
                            SelectedItems="@SelectedItems" Reorderable="true" Resizable="true" Groupable="false"
                            FilterMode="GridFilterMode.FilterRow">
                            <GridColumns>
                                <GridColumn Field="@(nameof(SkillDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                <GridColumn Field="@(nameof(SkillDto.Name))" Title="Name" Groupable="false" />
                                <GridColumn Field="@(nameof(SkillDto.Description))" Title="Description"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(SkillDto.CreatedDate))" Title="Created Date"
                                            Groupable="false" />
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
