@page "/skills"
@page "/"
@using employee.skill.fe.Models.DTOs.Skills
@inherits SkillsViewModel

<TelerikWindow Modal="true" @bind-Visible="@ManipulationSkillIsVisible">
    <WindowTitle>
        <strong>@ActionText Skill</strong>
    </WindowTitle>
    <WindowContent>
        <TelerikNotification @ref="NotificationSaveOrUpdateComponent"
                             Class="toastr-notification"
                             VerticalPosition="NotificationVerticalPosition.Top"
                             HorizontalPosition="NotificationHorizontalPosition.Center">
        </TelerikNotification>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <TelerikForm Model="@SkillToBeManipulated"
                                         Width="800px"
                                         Orientation="FormOrientation.Vertical"
                                         OnInvalidSubmit="@HandleInValidSkillSaveOrUpdate"
                                         OnValidSubmit="@HandleValidSkillSaveOrUpdate">
                                <FormValidation>
                                    <DataAnnotationsValidator />
                                </FormValidation>
                                <FormButtons>
                                    <TelerikButton Hidden="false"
                                                   ButtonType="@ButtonType.Submit"
                                                   Primary="true">
                                        @ActionText
                                    </TelerikButton>
                                    <TelerikButton Hidden="false"
                                                   OnClick="OnCancelClickHandler"
                                                   ButtonType="@ButtonType.Button"
                                                   Primary="false">
                                        Cancel
                                    </TelerikButton>
                                </FormButtons>
                                <FormItems>
                                    <FormGroup LabelText="Skill Information" Columns="1"
                                               ColumnSpacing="40px">
                                            @**@
                                            <FormItem LabelText="Name: " ColSpan="1" Field="@nameof(SkillDto.Name)" />
                                            <FormItem LabelText="Description: " ColSpan="1" Field="@nameof(SkillDto.Description)" />
                                            @**@
                                    </FormGroup>
                                </FormItems>
                            </TelerikForm>
                        </div>
                    </div>
                </div>
                @if (ValidSubmit)
                {
                    if (@SkillState.Value.CreationStatus != Store.Statuses.CreationStatus.Init){
                        CheckValidityActionForCreation();
                    } else if (@SkillState.Value.ModificationStatus != Store.Statuses.ModificationStatus.Init){
                        CheckValidityActionForModification();
                    }
                }
            </div>
        </div>
    </WindowContent>
    <WindowActions>
        <WindowAction Name="Minimize" />
        <WindowAction Name="Maximize" />
        <WindowAction OnClick="OnCancelClickHandler" Name="Close" />
    </WindowActions>
</TelerikWindow>

<div class="videos">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">Skills</h3>
                <div class="card-body">
                    <div class="row">
                         <div class="form-group"> 
                             <TelerikButton Enabled="@SaveBtnEnabled" Primary="true" Icon="add" 
                                 OnClick="@OnAddSkillClickHandler">Add</TelerikButton> 
                             <TelerikButton Icon="edit" OnClick="@OnEditSkillClickHandler">Edit</TelerikButton> 
                             <TelerikButton Icon="delete" Class="dangerButton" OnClick="@OnDeleteSkillClickHandler">Delete</TelerikButton> 
                         </div> 
                    </div>
                    <div class="row">
                        <TelerikGrid Data="@SkillState.Value.SkillList" 
                                     Pageable="true" PageSize="10" Height="600px"
                                     Sortable="true" SelectionMode="GridSelectionMode.Single"
                            SelectedItemsChanged="@((IEnumerable<SkillDto> skillList) => OnSelect(skillList))"
                            SelectedItems="@SelectedItems" Reorderable="true" Resizable="true" Groupable="false"
                            FilterMode="GridFilterMode.FilterRow">
                            <GridColumns>
                                <GridColumn Field="@(nameof(SkillDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                <GridColumn Field="@(nameof(SkillDto.Name))" Title="Name" Groupable="false" />
                                <GridColumn Field="@(nameof(SkillDto.Description))" Title="Description"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(SkillDto.CreatedDate))" Title="Created Date"
                                            Groupable="false" />
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
