@page "/services"
@using smarthotel.ui.Models.DTOs.Services
@using smarthotel.ui.Models.DTOs.Visits
@inherits ServicesViewModel

<div class="videos">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">Services</h3>
                <div class="card-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <TelerikGrid Data="@ServiceState.Value.ServiceList" Pageable="true" PageSize="10" Height="400px"
                                     PageChanged="@PageChangedHandler" Sortable="true" SelectionMode="GridSelectionMode.Single"
                                     SelectedItemsChanged="@((IEnumerable<ServiceDto> serviceList) => OnSelect(serviceList))"
                                     SelectedItems="@SelectedItems" Reorderable="true" Resizable="true" Groupable="false"
                                     FilterMode="GridFilterMode.FilterRow">
                            <GridColumns>
                                <GridColumn Field="@(nameof(ServiceDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceDto.ServiceName))" Title="Name" Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceDto.Description))" Title="Description"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceDto.Price))" Title="Price"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceDto.CreatedDate))" Title="Created Date"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceDto.Value))" Title="Is Registered Service"
                                            Groupable="false" />
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-header">Filters</h3>
                <div class="card-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <TelerikForm Model="@ServiceFilter"
                                     OnValidSubmit="@HandleValidSubmitForServiceSearch"
                                     OnInvalidSubmit="@HandleInvalidSubmitForServiceSearch">
                            <FormValidation>
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                            </FormValidation>
                            <FormItems>
                                <FormGroup LabelText="Search" Columns="8" ColumnSpacing="12px">
                                    <FormItem Field="@nameof(ServiceFilterDto.From)">
                                        <Template>
                                            <label Width="100%" for="from-date" class="k-label k-form-label">From:</label>
                                            <TelerikDatePicker
                                                Id="from-date"
                                                Width="100%"
                                                @bind-Value="@ServiceFilter.From"
                                                @ref="TheFromDatePicker"
                                                OnChange="@FromWasClicked"
                                                >

                                            </TelerikDatePicker>
                                            <TelerikValidationMessage For="@(() => ServiceFilter.From)"></TelerikValidationMessage>
                                        </Template>
                                    </FormItem>

                                    <FormItem Field="@nameof(ServiceFilterDto.To)">
                                        <Template>
                                            <label Width="100%" for="to-date" class="k-label k-form-label">To:</label>
                                            <TelerikDatePicker
                                                Id="to-date"
                                                Width="100%"
                                                @bind-Value="@ServiceFilter.To"
                                                @ref="TheToDatePicker"
                                                OnChange="@ToWasClicked"
                                                >

                                            </TelerikDatePicker>
                                            <TelerikValidationMessage For="@(() => ServiceFilter.To)"></TelerikValidationMessage>
                                        </Template>
                                    </FormItem>
                                    
                                    <FormItem>
                                        <Template>
                                        <label Width="100%" for="null-1" class="k-label k-form-label"></label>
                                        </Template>
                                    </FormItem>

                                    <FormItem Field="@nameof(ServiceFilterDto.ServiceTypes)">
                                        <Template>
                                            <label Width="100%" for="service-type" class="k-label k-form-label">Service Type:</label>
                                            <div class="k-form-field-wrap">
                                                @*<TelerikComboBox
                                                    @bind-Value="@ServiceTypeCurrentIndex" 
                                                     Data="@ServiceState.Value.ServiceTypeList" 
                                                     ValueField="@nameof(ServiceTypeDto.Id)"
                                                     TextField="@nameof(ServiceTypeDto.Type)"
                                                     Placeholder="Select Service Type"
                                                     OnChange="@ServiceTypeOnChangeHandler"
                                                     PopupHeight="200px"
                                                     Filterable="true"
                                                     Id="service-type" 
                                                     Width="100%"
                                                >
                                                </TelerikComboBox>*@
                                                <TelerikTextBox Enabled="false" @bind-Value="@ServiceFilter.ServiceTypeName" Width="100%"
                                                                        Id="service-type" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    
                                    <FormItem>
                                        <Template>
                                            <label Width="100%" for="null-2" class="k-label k-form-label"></label>
                                        </Template>
                                    </FormItem>

                                     <FormItem Field="@nameof(ServiceFilterDto.SearchTypes)"> 
                                         <Template> 
                                             <label for="search-type" class="k-label k-form-label">Search Type:</label> 
                                             <TelerikComboBox  
                                                 @bind-Value="@SearchTypeCurrentIndex" 
                                                  Data="@SearchTypeTypes" 
                                                  Placeholder="Select Search Type" 
                                                  OnChange="@SearchTypeOnChangeHandler"
                                                  PopupHeight="200px"
                                                  Filterable="true" 
                                                  Id="search-type" 
                                                  Width="100%"
                                             >
                                             </TelerikComboBox> 
                                         </Template> 
                                     </FormItem> 
                                    
                                    <FormItem>
                                        <Template>
                                            <label Width="100%" for="search-cost" class="k-label k-form-label">Cost:</label>
                                            <TelerikNumericTextBox @bind-Value="@ServiceFilter.CostValue" Width="100%" OnChange="@CostWasClicked"
                                                                    Id="search-cost" />
                                        </Template>
                                    </FormItem>
                                    
                                    <FormItem>
                                        <Template>
                                            <label Width="100%" for="null-3" class="k-label k-form-label"></label>
                                        </Template>
                                    </FormItem>

                                </FormGroup>
                            </FormItems>

                            <FormButtons>
                                <TelerikButton ButtonType="ButtonType.Submit" OnClick="@OnClickSearchHandler" Primary="true">Search</TelerikButton>
                                <TelerikButton ButtonType="ButtonType.Submit" OnClick="@OnClickClearHandler" Primary="false">Clear</TelerikButton>
                            </FormButtons>
                        </TelerikForm>
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-header">Visiting</h3>
                <div class="card-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <TelerikGrid Data="@VisitState.Value.VisitList" Pageable="true" PageSize="10" Height="600px"
                                     PageChanged="@PageVisitChangedHandler" Sortable="true" SelectionMode="GridSelectionMode.Single"
                                     SelectedItemsChanged="@((IEnumerable<VisitDto> visitList) => OnVisitSelect(visitList))"
                                     SelectedItems="@SelectedVisitItems" Reorderable="true" Resizable="true" Groupable="false"
                                     FilterMode="GridFilterMode.FilterRow">
                            <GridColumns>
                                <GridColumn Field="@(nameof(VisitDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                <GridColumn Field="@(nameof(VisitDto.CustomerName))" Title="Customer" Groupable="false" />
                                <GridColumn Field="@(nameof(VisitDto.SpaceName))" Title="Space"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(VisitDto.TimeEntrance))" Title="Entrance"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(VisitDto.TimeExit))" Title="Exit"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(VisitDto.Total))" Title="Total"
                                            Groupable="false" />
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
