@page "/customer-details/{Id:guid}"

@using smarthotel.ui.Models.DTOs.Customers
@inherits CustomerDetailsViewModel

<div class="dashboard">
    <header>
        <div class="detail-header-title">
            <TelerikButton class="btn-success" OnClick="@OnBackIconClick">
                <em class="fa fa-angle-left"></em>
            </TelerikButton>
            <div class="module-title">
                <div class='title'>CUSTOMER DETAILS</div>
                <div class='underline'></div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">@HeaderLabel customer</h3>
                <div class="card-body">
                    <EditForm Model="@ValidationCustomerDto" OnValidSubmit="@HandleValidSubmitForCustomer"
                              OnInvalidSubmit="@HandleInvalidSubmitForCustomer">
                        <DataAnnotationsValidator />
                        <div class="k-validation-summary k-messagebox k-messagebox-error p-0" role="alert">
                            <ValidationSummary />
                        </div>
                        <div class="form-group">
                            <div class="k-form k-form-vertical">
                                <div class="k-form-field">
                                    <label for="customer-firstname" class="k-label k-form-label">Firstname:</label>
                                    <div class="k-form-field-wrap">
                                        <TelerikTextBox @bind-Value="@ValidationCustomerDto.Firstname"
                                                        Id="customer-firstname" />
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => ValidationCustomerDto.Firstname)" />
                            </div>
                            <div class="k-form k-form-vertical">
                                <div class="k-form-field">
                                    <label for="customer-lastname" class="k-label k-form-label">Lastname:</label>
                                    <div class="k-form-field-wrap">
                                        <TelerikTextBox @bind-Value="@ValidationCustomerDto.Lastname"
                                                        Id="customer-lastname" />
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => ValidationCustomerDto.Lastname)" />
                            </div>
                            <div class="k-form k-form-vertical">
                                <div class="k-form-field">
                                    <label for="customer-email" class="k-label k-form-label">Email:</label>
                                    <div class="k-form-field-wrap">
                                        <TelerikTextBox @bind-Value="@ValidationCustomerDto.Email"
                                                        Id="customer-email" />
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => ValidationCustomerDto.Email)" />
                            </div>
                            <div class="k-form k-form-vertical">
                                <div class="k-form-field">
                                    <label for="customer-birth" class="k-label k-form-label">Date Of Birth:</label>
                                    <div class="k-form-field-wrap">
                                        <TelerikDateInput @bind-Value="@ValidationCustomerDto.DateOfBirth" Format="dd MMMM yyyy" Id="customer-birth"></TelerikDateInput>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => ValidationCustomerDto.DateOfBirth)" />
                            </div>
                            <div class="k-form k-form-vertical">
                                <div class="k-form-field">
                                    <label for="customer-phone" class="k-label k-form-label">Phone:</label>
                                    <div class="k-form-field-wrap">
                                        <TelerikNumericTextBox @bind-Value="@ValidationCustomerDto.PhoneLong"
                                                               Id="customer-phone" />
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => ValidationCustomerDto.PhoneLong)" />
                            </div>
                            <div class="k-form k-form-vertical">
                                <div class="k-form-field">
                                    <label for="customer-nfc" class="k-label k-form-label">Nfc:</label>
                                    <div class="k-form-field-wrap">
                                        <TelerikTextBox @bind-Value="@ValidationCustomerDto.Nfc"
                                                        Id="customer-nfc" />
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => ValidationCustomerDto.Nfc)" />
                            </div>
                        </div>

                        @if (CustomerState.Value.Customer.Id != Guid.Empty)
                        {
                            LoadSucceeded();
                        }

                        @if (String.IsNullOrEmpty(CustomerState.Value.ErrorMessage))
                        {

                        }

                        @if (!String.IsNullOrEmpty(CustomerState.Value.ErrorMessage))
                        {
                            if (CustomerState.Value.ErrorMessage.Contains("Error"))
                            {
                                CreationError();
                            }
                            else
                            {
                                if (CustomerState.Value.ErrorMessage.Contains("CREATION"))
                                {
                                    CreationSucceeded();
                                    DispatcherToInit();
                                }
                                else
                                {
                                    ModificationSucceeded();
                                }

                            }
                        }
                        <div class="form-group">
                            <TelerikButton Enabled="@SaveBtnEnabled" Primary="true" Icon="save" OnClick="@OnSaveCustomerClickHandler">Save</TelerikButton>
                            <TelerikButton Icon="cancel" OnClick="@OnCancelCustomerClickHandler">Cancel</TelerikButton>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
            <div class="notification-parent">
            <TelerikNotification @ref="NotificationComponent"
                                  Class="kt-notification"
                                  HorizontalPosition="@NotificationHorizontalPosition.Center"
                                  VerticalPosition="@NotificationVerticalPosition.Top"></TelerikNotification>
            </div>
    </div>
</div>