@page "/covid"
@using smarthotel.ui.Models.DTOs.Services
@using Syncfusion.Blazor.Lists
@using smarthotel.ui.Models.DTOs.Customers
@using smarthotel.ui.Models.DTOs.Spaces
@inherits CovidViewModel

<div class="dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="card issue-types">
                <h4 class="card-header">NFC - Customer</h4>
                <div class="row">
                    <TelerikGrid Data="@CustomerState.Value.CustomerList" Pageable="true" PageSize="10" Height="400px"
                                 PageChanged="@PageChangedCustomerHandler" Sortable="true" SelectionMode="GridSelectionMode.Single"
                                 SelectedItemsChanged="@((IEnumerable<CustomerDto> customerList) => OnCustomerSelect(customerList))"
                                 SelectedItems="@SelectedCustomerItems" Reorderable="true" Resizable="true" Groupable="false"
                                 FilterMode="GridFilterMode.FilterRow">
                        <GridColumns>
                            <GridColumn Field="@(nameof(CustomerDto.Id))" Visible="false" Title="Id" Groupable="false" />
                            <GridColumn Field="@(nameof(CustomerDto.Firstname))" Title="Firstname" Groupable="false" />
                            <GridColumn Field="@(nameof(CustomerDto.Lastname))" Title="LastName"
                                        Groupable="false" />
                            <GridColumn Field="@(nameof(CustomerDto.Nfc))" Title="NFC Bruchelet"
                                        Groupable="false" />
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card issue-types">
            <h4 class="card-header">9 Spaced used by Positive Covid-19</h4>
             <div class="card-body"> 
                 <div class="row"> 
                     <TelerikGrid Data="@CovidState.Value.SpaceCovidList" Pageable="true" PageSize="10" Height="600px" Sortable="true"
                                  SelectionMode="GridSelectionMode.Single" Reorderable="true" Resizable="true" Groupable="false" 
                                  FilterMode="GridFilterMode.FilterRow"> 
                         <GridColumns> 
                             <GridColumn Field="@(nameof(SpaceRepoDto.Id))" Visible="false" Title="Id" Groupable="false" /> 
                             <GridColumn Field="@(nameof(SpaceRepoDto.Customer))" Title="Customer" Groupable="false" /> 
                             <GridColumn Field="@(nameof(SpaceRepoDto.Space))" Title="Space" 
                                         Groupable="false" />
                             <GridColumn Field="@(nameof(SpaceRepoDto.TimeEntrance))" Title="Entrance" 
                                         Groupable="false" />
                             <GridColumn Field="@(nameof(SpaceRepoDto.TimeExit))" Title="Exit" 
                                         Groupable="false" />
                         </GridColumns> 
                     </TelerikGrid> 
                 </div> 
             </div> 
        </div>
    </div>

    <div class="col-md-12">
        <div class="card issue-types">
            <h4 class="card-header">10 Other possible Customers in the same place</h4>
            <div class="row"> 
                <TelerikGrid Data="@CovidState.Value.SpaceCovidSimilarList" Pageable="true" PageSize="10" Height="600px" Sortable="true"
                             SelectionMode="GridSelectionMode.Single" Reorderable="true" Resizable="true" Groupable="false" 
                             FilterMode="GridFilterMode.FilterRow"> 
                    <GridColumns> 
                        <GridColumn Field="@(nameof(SpaceRepoDto.Id))" Visible="false" Title="Id" Groupable="false" /> 
                        <GridColumn Field="@(nameof(SpaceRepoDto.Customer))" Title="Customer" Groupable="false" /> 
                        <GridColumn Field="@(nameof(SpaceRepoDto.Space))" Title="Space" 
                                    Groupable="false" />
                        <GridColumn Field="@(nameof(SpaceRepoDto.TimeEntrance))" Title="Entrance" 
                                    Groupable="false" />
                        <GridColumn Field="@(nameof(SpaceRepoDto.TimeExit))" Title="Exit" 
                                    Groupable="false" />
                    </GridColumns> 
                </TelerikGrid> 
            </div> 
        </div>
    </div>
</div>



