@page "/employees"
@using employee.skill.fe.Models.DTOs.Employees
@using employee.skill.fe.Models.DTOs.Skills
@using Microsoft.AspNetCore.Components
@inherits EmployeesViewModel

<TelerikWindow Modal="true" @bind-Visible="@ManipulationEmployeeIsVisible">
    <WindowTitle>
        <strong>@ActionText Employee</strong>
    </WindowTitle>
    <WindowContent>
        <TelerikNotification @ref="NotificationSaveOrUpdateComponent"
                             Class="toastr-notification"
                             VerticalPosition="NotificationVerticalPosition.Top"
                             HorizontalPosition="NotificationHorizontalPosition.Center">
        </TelerikNotification>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <TelerikForm Model="@EmployeeToBeManipulated"
                                         Width="800px"
                                         Orientation="FormOrientation.Vertical"
                                         OnInvalidSubmit="@HandleInValidEmployeeSaveOrUpdate"
                                         OnValidSubmit="@HandleValidEmployeeSaveOrUpdate">
                                <FormValidation>
                                    <DataAnnotationsValidator />
                                </FormValidation>
                                <FormButtons>
                                    <TelerikButton Hidden="false"
                                                   ButtonType="@ButtonType.Submit"
                                                   Primary="true">
                                        @ActionText
                                    </TelerikButton>
                                    <TelerikButton Hidden="false"
                                                   OnClick="OnCancelClickHandler"
                                                   ButtonType="@ButtonType.Button"
                                                   Primary="false">
                                        Cancel
                                    </TelerikButton>
                                </FormButtons>
                                <FormItems>
                                    <FormGroup LabelText="Employee Information" Columns="1"
                                               ColumnSpacing="40px">
                                            @**@
                                            <FormItem LabelText="Firstname: " ColSpan="1" Field="@nameof(EmployeeDto.Firstname)" />
                                            <FormItem LabelText="Lastname: " ColSpan="1" Field="@nameof(EmployeeDto.Lastname)" />
                                            <FormItem LabelText="Email: " ColSpan="1" Field="@nameof(EmployeeDto.Email)" />
                                            
                                            @*Hired*@
                                            <FormItem>
                                                <Template>
                                                    <label>Hired: </label>
                                                    <TelerikDateTimePicker @bind-Value="@EmployeeToBeManipulated.HiredDate"
                                                                           OnChange="OnEmployeeToBeManipulatedHiredClicked"
                                                                           Id="hired-date">
                                                    </TelerikDateTimePicker>
                                                </Template>
                                            </FormItem>
                                            
                                            @*Skills*@
                                            <FormItem>
                                                <Template>
                                                    <label>
                                                        Skill(s):
                                                    </label>
                                                    <TelerikMultiSelect
                                                        Data="@SkillState.Value.SkillList"
                                                        TValue="Guid"
                                                        TItem="SkillDto"
                                                        @bind-Value="@EmployeeToBeManipulated.ExistingSkillIds"
                                                        ValueField="@nameof(SkillDto.Id)"
                                                        TextField="@nameof(SkillDto.Name)"
                                                        Placeholder="Select Skill(s) ..."
                                                        Id="skill-multiselect" Width="100%">
                                                    </TelerikMultiSelect>
                                                </Template>
                                            </FormItem>
                                            
                                            <FormItem LabelText="Non Existing Skill: " ColSpan="1" Field="@nameof(EmployeeDto.NonExistingSkill)" />
                                            @**@
                                    </FormGroup>
                                </FormItems>
                            </TelerikForm>
                        </div>
                    </div>
                </div>
                @if (ValidSubmit)
                {
                    if (@EmployeeState.Value.CreationStatus != Store.Statuses.CreationStatus.Init){
                        CheckValidityActionForCreation();
                    } else if (@EmployeeState.Value.ModificationStatus != Store.Statuses.ModificationStatus.Init){
                        CheckValidityActionForModification();
                    }
                }
            </div>
        </div>
    </WindowContent>
    <WindowActions>
        <WindowAction Name="Minimize" />
        <WindowAction Name="Maximize" />
        <WindowAction OnClick="OnCancelClickHandler" Name="Close" />
    </WindowActions>
</TelerikWindow>

<div class="videos">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">Employees</h3>
                <div class="card-body">
                    <div class="row">
                         <div class="form-group"> 
                             <TelerikButton Enabled="@SaveBtnEnabled" Primary="true" Icon="add" 
                                 OnClick="@OnAddEmployeeClickHandler">Add</TelerikButton> 
                             <TelerikButton Icon="edit" OnClick="@OnEditEmployeeClickHandler">Edit</TelerikButton> 
                             <TelerikButton Icon="delete" Class="dangerButton" OnClick="@OnDeleteEmployeeClickHandler">Delete</TelerikButton> 
                         </div> 
                    </div>
                    <div class="row">
                        <TelerikGrid Data="@EmployeeState.Value.EmployeeList" 
                                     Pageable="true" PageSize="10" Height="600px"
                                     Sortable="true" SelectionMode="GridSelectionMode.Single"
                            SelectedItemsChanged="@((IEnumerable<EmployeeDto> EmployeeList) => OnSelect(EmployeeList))"
                            SelectedItems="@SelectedItems" Reorderable="true" Resizable="true" Groupable="false"
                            FilterMode="GridFilterMode.FilterRow">
                            <GridColumns>
                                <GridColumn Field="@(nameof(EmployeeDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                <GridColumn Field="@(nameof(EmployeeDto.Firstname))" Title="Firstname" Groupable="false" />
                                <GridColumn Field="@(nameof(EmployeeDto.Lastname))" Title="LastName"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(EmployeeDto.Email))" Title="Email"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(EmployeeDto.HiredDate))" Title="Hired Date"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(EmployeeDto.CreatedDate))" Title="Created Date"
                                            Groupable="false" />
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
