@page "/query-freq-service"
@using smarthotel.ui.Models.DTOs.Services
@inherits QueryFreqServiceViewModel

<div class="dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="card issue-types">
                <h4 class="card-header">Freq Services By Year</h4>
                <div class="card-body">
                    <div class="row">
                        <TelerikGrid Data="@ServiceState.Value.ServiceFreqYearList" Pageable="true" PageSize="10" Height="600px"
                                     Reorderable="true" Resizable="true" Groupable="false"
                                     FilterMode="GridFilterMode.FilterRow">
                            <GridColumns>
                                <GridColumn Field="@(nameof(ServiceFreqDto.Service))" Title="Service Name" Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceFreqDto.Used))" Title="Visits - Used"
                                            Groupable="false" />
                                <GridColumn Field="@(nameof(ServiceFreqDto.AgeGroup))" Title="Age Groups"
                                            Groupable="false" />
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card issue-types">
            <h4 class="card-header">Freq Services  By Month</h4>
            <div class="card-body">
                <div class="row">
                    <TelerikGrid Data="@ServiceState.Value.ServiceFreqMonthList" Pageable="true" PageSize="10" Height="600px"
                                 Reorderable="true" Resizable="true" Groupable="false"
                                 FilterMode="GridFilterMode.FilterRow">
                        <GridColumns>
                            <GridColumn Field="@(nameof(ServiceFreqDto.Service))" Title="Service Name" Groupable="false" />
                            <GridColumn Field="@(nameof(ServiceFreqDto.Used))" Title="Visits - Used"
                                        Groupable="false" />
                            <GridColumn Field="@(nameof(ServiceFreqDto.AgeGroup))" Title="Age Groups"
                                        Groupable="false" />
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </div>
        </div>
    </div>
</div>