@page "/"
@page "/dashboard"

@using System.Threading
@using smarthotel.ui.Models.DTOs.Customers
@using smarthotel.ui.Models.DTOs.Services
@using smarthotel.ui.Models.DTOs.Spaces
@inherits DashboardViewModel

    <div class="dashboard">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="card-header">Smart Hotel</h3>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-sm-12 col-md-6 col-lg active-issues">
                                <span class="comp-label">
                                    <strong>@DashboardState.Value.SpacesCount</strong>
                                    <small>Spaces</small>
                                </span>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg text-success closed-issues">
                                <span class="comp-label">
                                    <strong>@DashboardState.Value.CustomersCount</strong>
                                    <small>Customers</small>
                                </span>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg text-danger open-issues">
                                <span class="comp-label">
                                    <strong>@DashboardState.Value.ServicesCount</strong>
                                    <small>Services</small>
                                </span>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg close-rate">
                                <span class="comp-label">
                                    <strong>@DashboardState.Value.TotalsCount</strong>
                                    <small>Totals</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="card issue-types">
                    <h4 class="card-header">Spaces</h4>
                    <div class="card-body">
                        <div class="row">
                            <TelerikGrid Data="@SpaceState.Value.SpaceList" Pageable="true" PageSize="10" Height="300px"
                                         PageChanged="@PageChangedHandlerSpace" Sortable="true" SelectionMode="GridSelectionMode.Single"
                                         SelectedItemsChanged="@((IEnumerable<SpaceDto> spaceList) => OnSelectSpace(spaceList))"
                                         SelectedItems="@SelectedItemsSpace" Reorderable="true" Resizable="true" Groupable="false"
                                         FilterMode="GridFilterMode.FilterRow">
                                <GridColumns>
                                    <GridColumn Field="@(nameof(SpaceDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                    <GridColumn Field="@(nameof(SpaceDto.Name))" Title="Name" Groupable="false" />
                                    <GridColumn Field="@(nameof(SpaceDto.Number))" Title="Number"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(SpaceDto.Description))" Title="Description"
                                                Groupable="false" />
                                </GridColumns>
                            </TelerikGrid>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card issue-types">
                    <h4 class="card-header">Customers</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                <TelerikButton Icon="edit" OnClick="@OnConfigureCustomerClickHandler">Configure</TelerikButton>
                            </div>
                        </div>
                        <div class="row">
                            <TelerikGrid Data="@CustomerState.Value.CustomerList" Pageable="true" PageSize="10" Height="300px"
                                         PageChanged="@PageChangedHandlerCustomer" Sortable="true" SelectionMode="GridSelectionMode.Single"
                                         SelectedItemsChanged="@((IEnumerable<CustomerDto> customerList) => OnSelectCustomer(customerList))"
                                         SelectedItems="@SelectedItemsCustomer" Reorderable="true" Resizable="true" Groupable="false"
                                         FilterMode="GridFilterMode.FilterRow">
                                            <GridColumns>
                                                <GridColumn Field="@(nameof(CustomerDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                                <GridColumn Field="@(nameof(CustomerDto.Firstname))" Title="Firstname" Groupable="false" />
                                                <GridColumn Field="@(nameof(CustomerDto.Lastname))" Title="LastName"
                                                            Groupable="false" />
                                                <GridColumn Field="@(nameof(CustomerDto.Email))" Title="Email"
                                                            Groupable="false" />
                                                <GridColumn Field="@(nameof(CustomerDto.CreatedDate))" Title="Created Date"
                                                            Groupable="false" />
                                                <GridColumn Field="@(nameof(CustomerDto.Nfc))" Title="NFC Bruchelet"
                                                            Groupable="false" />
                                            </GridColumns>
                            </TelerikGrid>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="card issue-types">
                    <h4 class="card-header">Services</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                <TelerikButton Icon="edit" OnClick="@OnConfigureCustomerClickHandler">Configure</TelerikButton>
                            </div>
                        </div>
                        <div class="row">
                            <TelerikGrid Data="@ServiceState.Value.ServiceList" Pageable="true" PageSize="10" Height="300px"
                                         PageChanged="@PageChangedHandlerService" Sortable="true" SelectionMode="GridSelectionMode.Single"
                                         SelectedItemsChanged="@((IEnumerable<ServiceDto> serviceList) => OnSelectService(serviceList))"
                                         SelectedItems="@SelectedItemsService" Reorderable="true" Resizable="true" Groupable="false"
                                         FilterMode="GridFilterMode.FilterRow">
                                <GridColumns>
                                    <GridColumn Field="@(nameof(ServiceDto.Id))" Visible="false" Title="Id" Groupable="false" />
                                    <GridColumn Field="@(nameof(ServiceDto.ServiceName))" Title="Name" Groupable="false" />
                                    <GridColumn Field="@(nameof(ServiceDto.Description))" Title="Description"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(ServiceDto.Price))" Title="Price"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(ServiceDto.CreatedDate))" Title="Created Date"
                                                Groupable="false" />
                                    <GridColumn Field="@(nameof(ServiceDto.Value))" Title="Is Registered Service"
                                                Groupable="false" />
                                </GridColumns>
                            </TelerikGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


